HTML * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.calculatorContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 560px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4,100px);
    padding: 10%;

}

.calculatorContainer > button {
    cursor: pointer;
    font-size: 32px;
    border: 2px solid white;
    outline: none;
    background-color: aquamarine;
}

.calculatorContainer > button:hover {
    background-color: rgb(111, 228, 189);
}

.output {
    grid-column: span 3;
    background-color: rgb(33, 67, 56);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    border: 2px solid white;
    flex-direction: column;
    padding: 10px;
}

.output #outputContainer {
    color:rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

